.cartao
{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 6rem;
    margin-top: 6rem;
    padding: 2.5rem;
    width: 60vw;
}


.cartaoTitulo
{
  font-size: 4rem;
}